@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}
/* shared style */
.display-flex{
    display: flex;
}
/* text dark 1 */
.text-dark-1{
    color: #131313;
}
/* text dark 2 */
.text-dark-2{
    color: #424242;
}
/* text dark 3 */
.text-dark-3{
    color: #727272;
}
.text-orange{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144,14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600px;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
main>section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
}
/* header style */

/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
   
}
.nav-links{

}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-item .nav-link{
    text-decoration: none;
    font-weight: 500px !important;
    font-size: 18px;
    
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
/* รท\banner related style */
.banner-content{
    max-width: 850px;
    margin:  0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-image{
    width: 100%;
    padding-bottom: 45px;
}
/* team and feature related style */
.teams{
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 24px;
    
}
.team-feature-container{
    margin-left: 130px;
    max-width: 537px;
}

#quick-list{
    font-weight: 500px;
}
.feature-description{
    font-size: 1rem;
    line-height: 26px;
    margin: 24px 0px;
}
/* feature related title */
#section-feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.features{
    gap: 140px;
}
.features .section-title {
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature-card{
padding:30px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
margin-bottom: 20px;
border-radius: 8px;
}
.experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500px;
    margin-left: -100px;
    margin-top: -100px;
}
#idexperience-year{
    font-size: 4rem;
    font-weight: bold;
}
/* some fact related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-descripption{
    font-size: 1rem;
    max-width: 542px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 100px;
}

.fact-card{
    border:  1px solid  #FF900E;
    width: 242px;
    height: 242px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;
    
}
/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter:grayscale(100%);
}

/* resopnsive  desgin*/
@media screen and (max-width:576px) {
    .navbar, .nav-links,.teams,.features{
        flex-direction: column;
        text-align: center;
        
    }
  
    .team-img-container,.facts-container,.sponsor-companies{

    grid-template-columns: repeat(1 ,1fr);
    grid-column: span 1;

  
    
}
.team-feature-container{
margin-left: 20px;
}
.facts-container,.sponsor-companies{
    margin-top: 20px;
    padding: 50px;
    grid-row-gap:30px ;
    justify-content: center;
    align-items: center;
    text-align: center;
  
   
}
.sponsor-companies >img{
    width: 100%;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.feature-architected{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feature-architected >img{
    width: 100%;
    text-align: center;
}
#section-feature-title{
    border: none;
}
.experience-badge{
    margin-top: 20px;
    margin-left: 20px;

}
.fact-card {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.fact-descripption{
    margin-bottom: 30px;
}
main>section{
    margin-top: 30px;
}
}
/* resopnsive  desgin medium screen*/
@media screen  and (min-width:576px) and (max-width:992px) {
    .navbar, .nav-links,.teams,.features{
        flex-direction: column;

    }
    .feature-architected{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feature-architected >img{
    width: 100%;
    text-align: center;
}
#section-feature-title{
    border: none;
}
.experience-badge{
    margin-top: 20px;
    margin-left: 20px;

}
  
.team-feature-container{
margin-left: 50px auto;
}
.facts-container,.sponsor-companies{
    grid-template-columns: repeat(2 ,1fr);
    gap: 30px;
   
    
}


.sponsor-companies >img{
    width: 70%;
    text-align: center;
    margin: 0px auto;
}
.fact-card {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
.section-title,.fact-descripption{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

}